@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  src: url("./../fonts/hind-madurai-v11-latin-500.woff2") format("woff2"), url("./../fonts/hind-madurai-v11-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  src: url("./../fonts/hind-madurai-v11-latin-600.woff2") format("woff2"), url("./../fonts/hind-madurai-v11-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  src: url("./../fonts/hind-madurai-v11-latin-700.woff2") format("woff2"), url("./../fonts/hind-madurai-v11-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  src: url("./../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("./../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  src: url("./../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("./../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Hind Madurai", sans-serif;
}

.wrapper {
  margin: 70px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 138.5%;
}

.text {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.price {
  font-weight: 500;
  font-size: 26px;
  line-height: 138.5%;
}

.span {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  opacity: 0.7;
}

.link {
  display: inline-block;
  background: #d64374;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
}

.page__brown {
  margin-bottom: 30px;
}

.page__cayenne {
  margin-bottom: 35px;
}

.brown__heading {
  font-weight: 600;
  font-size: 44.2px;
  line-height: 138%;
  color: #150101;
  text-align: center;
  margin-bottom: 60px;
}

.brown__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brown__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 580px;
          flex: 0 0 580px;
}

.brown__image {
  max-width: 100%;
}

.brown__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 60px 39px 0 85px;
}

.brown__title {
  margin-bottom: 11px;
}

.brown__text {
  margin-bottom: 23px;
}

.brown__price {
  margin-bottom: 7px;
}

.brown__link {
  padding: 15px 55px 15px 46px;
}

.brown__link:hover {
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cayenne__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cayenne__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  padding: 91px 84px 0 52px;
}

.cayenne__title {
  margin-bottom: 11px;
}

.cayenne__text {
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 444px;
  margin-bottom: 23px;
}

.cayenne__price {
  margin-bottom: 16px;
}

.cayenne__link {
  padding: 15px 55px 15px 46px;
}

.cayenne__link:hover {
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cayenne__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 580px;
          flex: 0 0 580px;
}

.cayenne__image {
  max-width: 580px;
}

.corn__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.corn__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 580px;
          flex: 0 0 580px;
}

.corn__image {
  max-width: 100%;
}

.corn__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 91px 39px 0 87px;
}

.corn__title {
  margin-bottom: 11px;
}

.corn__text {
  margin-bottom: 23px;
}

.corn__price {
  margin-bottom: 16px;
}

.corn__link {
  padding: 15px 55px 15px 46px;
}

.corn__link:hover {
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
