// * ===== fonts ===== * //
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// * ===== null ===== * //
@import "_variables";
@import "_nullstyle";

body {
    font-family: "Hind Madurai", sans-serif;
}

// * ===== bem blocks ===== * //
@import "_blocks";

// * ===== header ===== * //

// * ===== main ===== * //
@import "_page";

// * ===== all sections ===== * //
@import "_brown";

// * ===== footer ===== * //
